.rectangle-6,
.rectangle-7,
.rectangle-10,
.rectangle-11,
.rectangle-9,
.rectangle-8,
.rectangle-72,
.rectangle-62 {
  display: flex; /* Makes the input field align properly */
  align-items: center;
  padding-left: 10px; /* Ensures text starts inside the box */
  background: #d9d9d9;
  border: 1px solid #000;
  width: 257px;
  height: 31px;
  position: absolute;
}

.type-here {
  width: 100%;
  border: none;
  background: none;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  outline: none;
}
}
.statistics {
  color: #000000;
  text-align: left;
  font-family: var(
    --h2-section-headers-font-family,
    "BebasNeue-Regular",
    sans-serif
  );
  font-size: var(--h2-section-headers-font-size, 36px);
  font-weight: var(--h2-section-headers-font-weight, 400);
  position: absolute;
  left: 1103px;
  top: 79px;
}
.merchandise {
  color: #000000;
  text-align: left;
  font-family: var(
    --h2-section-headers-font-family,
    "BebasNeue-Regular",
    sans-serif
  );
  font-size: var(--h2-section-headers-font-size, 36px);
  font-weight: var(--h2-section-headers-font-weight, 400);
  position: absolute;
  left: 868px;
  top: 79px;
}
.registration {
  color: #000000;
  text-align: left;
  font-family: var(
    --h2-section-headers-font-family,
    "BebasNeue-Regular",
    sans-serif
  );
  font-size: var(--h2-section-headers-font-size, 36px);
  font-weight: var(--h2-section-headers-font-weight, 400);
  position: absolute;
  left: 630px;
  top: 79px;
}
.registration2 {
  color: #000000;
  text-align: center;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  left: 414px;
  top: 278px;
  width: 586px;
  height: 103px;
